bitcoin               ICON    "pixmaps/bitcoin.ico"

#include "wx/msw/wx.rc"

check                 ICON    "pixmaps/check.ico"
sub1x16                BITMAP  "pixmaps/sub1x16.bmp"
sub1x16mask            BITMAP  "pixmaps/sub1x16mask.bmp"
sub1x16masknoshadow    BITMAP  "pixmaps/sub1x16masknoshadow.bmp"
sub1x20                BITMAP  "pixmaps/sub1x20.bmp"
sub1x20mask            BITMAP  "pixmaps/sub1x20mask.bmp"
addressbook16         BITMAP  "pixmaps/addressbook16.bmp"
addressbook16mask     BITMAP  "pixmaps/addressbook16mask.bmp"
addressbook20         BITMAP  "pixmaps/addressbook20.bmp"
addressbook20mask     BITMAP  "pixmaps/addressbook20mask.bmp"
favicon               ICON    "pixmaps/favicon.ico"
